parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - /source/src
    bootstrapFiles:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - /source/src
        - /deps