parameters:
    level: 5
    paths:
        - /source/src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
        - /deps
    excludes_analyse:
        - source/vendor