parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - /source/src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
        - /deps